<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Sm_infoConnection" connectionString="server=95.111.33.147;user id=bar;password=123;persist security info=True;database=sm_info" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>